body{
    background-color: black;
    margin: 120px;
    text-align: center;
}
@keyframes wake {
    0%{
        opacity: 0;
        transform: translateX(120px);
    }
    50%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateX(-120px);
    }
    
}
@keyframes lod {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}
h1{
    color: black;
    font-size: 180px;
    font-family: fantasy;
    opacity: 0.7;
    -webkit-text-stroke: 1px rgb(70, 1, 70);
    text-align: center;
    text-shadow: 0 0 3px rgb(70, 1, 70);
    filter: blur(1.5px);
    animation: lod 5s infinite;
}
p{
    color: rgb(213, 185, 224);
    filter: blur(0.5px);
    animation: wake 4s infinite;
    
}