body{
    background-image: url("res/MainBackground.jpg");
    justify-content: center;
    font-family: fantasy;
}
form{
    margin: 100px;
    backdrop-filter: blur(2.5px);
    background: none;
    border-radius: 15px;
    border: solid #5c5c5c 0.5px;
    width: 60%;
    padding: 41px;
    height: 70%;
}
input{
    color: white;
    font-size: 12px;
    width: 100%;
    height: 20px;
    background: transparent;
    border: none;
    border-bottom:solid white 2px;
    outline: none;
}
label{
    color: white;
    transform: translateY(25px);
    font-size: 15.5px;
    pointer-events: none;   
}
button{
    width: 70%;
    height: 40px;
    text-align: center;
    background-color: white;
    border: solid;
    border-radius: 15px;
    margin-left: 15%;
}
p{
    margin-left: 17%;
    color: white;
    font-size: 14px;
}
a{
    font-size: 14px;
}